subscription_id            = "00000000-0000-0000-0000-000000000000"
resource_group_name         = "rg-cloudportfolio-dev"
location                    = "uksouth"
log_analytics_workspace_id = "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-cloudportfolio-dev/providers/Microsoft.OperationalInsights/workspaces/log-example"
alert_email                 = "your-email@example.com"
